<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://fastly.picsum.photos/id/237/536/354.jpg?hmac=i0yVXW1ORpyCZpQ-CknuyV-jbtU7_x9EBQVhvT5aRr0" alt="" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center">
                        Design
                    </small>
                    <small class="bg-light text-success text-center ml-2">
                        Featured
                    </small>
                    <small class="bg-light text-info text-center ml-2">
                            Views - 100,256
                    </small>          
                    <small class="bg-light text-danger text-center ml-2">
                        UPDATED - SEP 20, 2023
                    </small>

                    <h1 class="mt-3 mb-3">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    </h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus cum est illum accusantium iure praesentium quibusdam architecto veniam tempore incidunt vero neque distinctio in ea, delectus provident expedita quae voluptatum?
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima accusamus doloribus sint aspernatur rem voluptatibus eius, dolores quo repellendus accusantium, repudiandae doloremque eum magni praesentium temporibus tempora, dicta esse atque.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi ratione corrupti perspiciatis dolor, dicta consequuntur veritatis eaque deserunt illo quisquam amet vel aut modi repellendus. Voluptates iure voluptas nulla ducimus.
                    </p>
                </div>
            </div>
            <app-comment-form class="shadow-effect"></app-comment-form>
            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>

        </div>
    </div>
</div>