<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/8801648/pexels-photo-8801648.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-success text-center ml-3">Featured</small>
        <small class="bg-light text-info text-center ml-3">Views - 100, 256</small>

        <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED A NEW CATEGORY </h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum assumenda ad molestias odio. Officiis optio, obcaecati nam facilis voluptas itaque ipsam blanditiis dicta repellat ea expedita! Mollitia eaque deserunt veritatis!</p>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20, 2021</small>
    </div>
</div>